extends template/main

block variables
    - var title = 'Головна сторiнка'
    - var pageClass = 'category-page'

block content
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href="index.html").breadcrumbs__link Головна
                li.breadcrumbs__item
                    span.breadcrumbs__current Каталог
    section.s-content
        .container
            ul.list-of-categories__list
                li.list-of-categories__item
                    a(href="").list-of-categories__link
                    img(src='static/images/content/products/product-1/white-crutch.png'
                        alt='image of product' data-color="rgba(21,21,21,0.91)").list-of-categories__image
                li.list-of-categories__item
                    a(href="").list-of-categories__link
                    img(src='static/images/content/products/product-1/white-crutch.png'
                        alt='image of product' data-color="rgba(21,21,21,0.91)").list-of-categories__image
                li.list-of-categories__item
                    a(href="").list-of-categories__link
                    img(src='static/images/content/products/product-1/white-crutch.png'
                        alt='image of product' data-color="rgba(21,21,21,0.91)").list-of-categories__image
                li.list-of-categories__item
                    a(href="").list-of-categories__link
                    img(src='static/images/content/products/product-1/white-crutch.png'
                        alt='image of product' data-color="rgba(21,21,21,0.91)").list-of-categories__image
                li.list-of-categories__item
                    a(href="").list-of-categories__link
                    img(src='static/images/content/products/product-1/white-crutch.png'
                        alt='image of product' data-color="rgba(21,21,21,0.91)").list-of-categories__image
                li.list-of-categories__item
                    a(href="").list-of-categories__link
                    img(src='static/images/content/products/product-1/white-crutch.png'
                        alt='image of product' data-color="rgba(21,21,21,0.91)").list-of-categories__image
                li.list-of-categories__item
                    a(href="").list-of-categories__link
                    img(src='static/images/content/products/product-1/white-crutch.png'
                        alt='image of product' data-color="rgba(21,21,21,0.91)").list-of-categories__image
                li.list-of-categories__item
                    a(href="").list-of-categories__link
                    img(src='static/images/content/products/product-1/white-crutch.png'
                        alt='image of product' data-color="rgba(21,21,21,0.91)").list-of-categories__image
                li.list-of-categories__item
                    a(href="").list-of-categories__link
                    img(src='static/images/content/products/product-1/white-crutch.png'
                        alt='image of product' data-color="rgba(21,21,21,0.91)").list-of-categories__image

